@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom slide-in animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 4s ease-out forwards;
}

/* Staggered animation */
@keyframes stagger {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.stagger-1 {
  animation: stagger 0.3s ease-out 0.1s forwards;
}

.stagger-2 {
  animation: stagger 0.6s ease-out 0.2s forwards;
}

.stagger-3 {
  animation: stagger 1.2s ease-out 0.3s forwards;
}
